<%- contentFor('script') %>
<!-- Importar CSS específico do módulo -->
<link rel="stylesheet" href="/views/testimonials/css/testimonials.css">
<!-- Importar script específico do módulo -->
<script src="/views/testimonials/js/testimonials.js"></script>

<div class="d-flex justify-content-end mb-4">
  <a href="/admin/testimonials/<%= testimonial.id %>/edit" class="btn btn-primary">
    <i class="bi bi-pencil me-1"></i> Editar
  </a>
  <a href="/admin/testimonials" class="btn btn-outline-secondary ms-2">
    <i class="bi bi-arrow-left me-1"></i> Voltar
  </a>
</div>

<!-- Incluir componente de detalhes do depoimento -->
<%- include('./components/testimonialDetail') %>
